@import 'tailwindcss';

@theme {
  --default-font-family: 'Fira Code', monospace;
}

@theme {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-primary: #4b5563; /* text-gray-800 */
  --color-secondary: #6b7280; /* text-gray-600 */
  --color-accent: #1f2937; /* text-gray-900 */
}

@theme (.dark) {
  --color-background: #111827;
  --color-text: #f9fafb;
  --color-primary: #e5e7eb; /* light-gray */
  --color-secondary: #9ca3af; /* gray-400 */
  --color-accent: #d1d5db; /* gray-300 */
}

/* Apply Theme Variables */
body {
  background-color: var(--color-background);
  color: var(--color-text);
}
